body{
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: aquamarine;

}
.logo{
    font-size: 2em;
}

main{
    display: flex;
    flex-direction: row;

}

article{
    flex: 2;
    overflow: auto;
}

aside{
    flex: 1;
    overflow: auto;
}